.textcntr{
  text-align: center;
}
#form-section {
  display: flex;
  justify-content: center;
}

form {
  text-align: center;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  width: 80vw;
}

#question {
  height: 90vh;
  width: 80%;
  border: 2px solid black;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
}

.flex-container{
    display: flex;
    height: 130vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#verdict_txt{
  padding: 20px;
}

.green{
  color: #32cd32;
}

.red{
  color: #dc143c;
}

.black{
  color: black;
}